{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<main class="bg-game1">
	<section class="container">
	<div class="fight">
		<h2>“Rien n'est vrai. Tout est permis”</h2>
		<div class="teams">
			<div class="team">
				<div class="perso">
					<img src="{{ asset('../assets/img/Sacha.png')}}" alt="Image du perso Pacman">
				</div>
				<div class="perso">
					<img src="{{ asset('../assets/img/Kirby.png')}}" alt="Image du perso Pacman">
				</div>
				<div class="perso">
					<img src="{{ asset('../assets/img/Ryu.png')}}" alt="Image du perso Pacman">
				</div>
			</div>

			<div class="team">
				<div class="perso">
					<img src="{{ asset('../assets/img/Skeletor.png')}}" alt="Image du perso Pacman">
				</div>
				<div class="perso">
					<img src="{{ asset('../assets/img/Megaman.png')}}" alt="Image du perso Pacman">
				</div>
				<div class="perso">
					<img src="{{ asset('../assets/img/DonkeyKong.png')}}" alt="Image du perso Pacman">
				</div>
			</div>
		</div>
	</div>
	

		<div>
			<h3>Équipe A</h3>
			<ul>
				{% for p in equipeA %}
					<li>{{ p.name }}
						- HP:
						{{ p.hpStat }}
						{% if not p.estVivant %}
							(KO)
						{% endif %}
					</li>
				{% endfor %}
			</ul>

			<h3>Équipe B</h3>
			<ul>
				{% for p in equipeB %}
					<li>{{ p.name }}
						- HP:
						{{ p.hpStat }}
						{% if not p.estVivant %}
							(KO)
						{% endif %}
					</li>
				{% endfor %}
			</ul>

			<ul>
				{% for log in logs %}
					<li>{{ log }}</li>
				{% endfor %}
			</ul>
			<h2>Vainqueur : {{ vainqueur }}</h2>
		</div>
	</section>
</main>
{% endblock %}
