{% extends 'base.html.twig' %}

{% block title %}Game
{% endblock %}

{% block body %}
	<main class="bg-game1">
		<section class="container">
			<div class="fight">
				<h2>“Rien n'est vrai. Tout est permis”</h2>
				<div class="teams">
					<div class="team">
						{% for perso in equipeA %}
							<div class="perso">
								<img src="{{ asset(perso.img) }}" alt="{{ perso.name}}">
							</div>
						{% endfor %}
					</div>
					<div class="team">
							{% for perso in equipeB %}
							<div class="perso">
								<img src="{{ asset(perso.img) }}" alt="{{ perso.name}}">
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="win">
				<h3>La team gagnante est : L'{{ vainqueur }} !</h3>
			</div>
			<div class="equipe">
				<div>
					<h4>Équipe ALPHA PING</h4>
					<ul>
						{% for p in equipeA %}
							<li>{{ p.name }}
								- HP:
								{{ p.hpStat }}
								{% if not p.estVivant %}
									(KO)
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div>
					<h4>Équipe BETA LAG</h4>
					<ul>
						{% for p in equipeB %}
							<li>{{ p.name }}
								- HP:
								{{ p.hpStat }}
								{% if not p.estVivant %}
									(KO)
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<ul class="log">
				{% for log in logs %}
					<li>{{ log }}</li>
				{% endfor %}
			</ul>
			<a class="btn-rejouer" href="{{ path("app_team") }}">Rejouer</a>
		</section>
	</main>
{% endblock %}
